.modalBtn {
  margin-top: 20px;
}

@keyframes example {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 80%;
  animation-name: example;
  animation-duration: 1s;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
